.card {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
}

img {
  width: 110px;
  height: 110px;
  /* height: 150px; */
  border-radius: 40rem;
  margin-left: 10px;
}

button {
  width: 18rem;
  height: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

li {
  list-style-type: none;
}

/* .container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
} */
