.card {
  background-color: rgba(35, 151, 246, 0.626);
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

img {
  width: 300px;
  /* height: 150px; */
  border-radius: 200px;
}

button {
  width: 18rem;
  height: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  width: 100%;
}
